/* makes the menu background black */
div.scrollmenu {
  background-color: #7875ff;
  overflow: auto;
  white-space: nowrap;
}

/* makes the link text white and centred */
div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* makes the link background change to grey when mouse over */
div.scrollmenu a:hover {
  background-color: #777;
}

*{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

img{
  width: 100%;
  height:fit-content;
  position: center;
}

image{
  background-image: url("Whare Pictures/image (11) edited.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-text{
  color: #00ffff;
  position: absolute;
  text-align: center;
  top: 420px;
  width: 100%;
  font-size: 4rem;
}

.two-column{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-row-start: 5px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.info{
  font-size: 1.5rem;
}